[package]
name = "fog-ledger-enclave-measurement"
version = "1.0.1-pre1"
authors = ["MobileCoin"]
edition = "2018"
description = "MobileCoin Ledger Enclave - Measurement"
links = "ledger_enclave_measurement"
license = "GPL-3.0"

[features]
# Whether the enclave should be built in simulation mode when it needs to be built
sgx-sim = []

[dependencies]
mc-attest-core = { path = "../../../../mobilecoin/attest/core" }
mc-sgx-css = { path = "../../../../mobilecoin/sgx/css" }

[build-dependencies]
mc-util-build-enclave = { path = "../../../../mobilecoin/util/build/enclave" }
mc-util-build-sgx = { path = "../../../../mobilecoin/util/build/sgx" }
mc-util-build-script = { path = "../../../../mobilecoin/util/build/script" }

cargo-emit = "0.1"
